.container {
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.628);
}

.content{
  background-color: white;
  padding: 5px;
}