<app-card titulo="Primeiro Componente" cor="#3d4d63">
  <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="Aprofundando em templates" cor="#b2e7e8">
  <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Pipes" cor="#bfb9aa">
  <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="Two-way Data binding" cor="#f2d096">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Listas" cor="#ed8975">
  <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Persnalizando componentes" cor="#a2ad91">
  <app-componente-personalizado nome="Mosiah" sobrenome="Silva"></app-componente-personalizado>
  <app-componente-personalizado nome="Maria" sobrenome="Souza"></app-componente-personalizado>
</app-card>
<app-card titulo="Ciclo de vida" cor="#3a2d32">
  <app-componente-pai></app-componente-pai>
  <app-ciclo-de-vida></app-ciclo-de-vida>
</app-card>


